<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cnuip.pmes2.repository.core.NationalEconomyMapper">
    <resultMap type="com.cnuip.pmes2.domain.core.NationalEconomy" id="baseMap">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="code" column="code"/>
        <result property="parentId" column="parent_id"/>
    </resultMap>

    <insert id="insertOne" parameterType="com.cnuip.pmes2.domain.core.NationalEconomy" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO p_national_economy (name,code,parent_id) VALUES (#{name},#{code},#{parentId})
    </insert>

    <delete id="deleteByField">
        DELETE FROM p_national_economy WHERE ${key}=#{value}
    </delete>

    <update id="updateOne" parameterType="com.cnuip.pmes2.domain.core.NationalEconomy">
        UPDATE p_national_economy
        <set>
            <if test="name!=null">name = #{name},</if>
            <if test="code!=null">code = #{code},</if>
            <if test="parentId!=null">parent_id = #{parentId},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateValueByField" parameterType="com.cnuip.pmes2.domain.core.NationalEconomy">
        UPDATE p_national_economy SET ${field}=#{value} WHERE ${pkField}=#{pkValue}
    </update>

    <select id="existsByField" resultType="java.lang.Boolean">
        SELECT COUNT(1)>0 FROM p_national_economy WHERE ${field}=#{value}
    </select>

    <select id="selectOneByField" resultMap="baseMap">
        SELECT * FROM p_national_economy WHERE ${field}=#{value} LIMIT 1
    </select>

    <select id="selectManyByField" resultMap="baseMap">
        SELECT * FROM p_national_economy WHERE ${field}=#{value}
    </select>

    <select id="getAll" resultMap="baseMap">
        SELECT * FROM p_national_economy
    </select>
    
    <select id="findBottomFields" resultMap="baseMap">
        SELECT * FROM p_national_economy WHERE CHAR_LENGTH(code) = 5
        <if test="keyword != null and keyword != ''">
            AND (name LIKE '%${keyword}%' OR code LIKE '%${keyword}%')
        </if>
    </select>

    <select id="findBySpecialties" resultMap="baseMap">
        SELECT * FROM p_national_economy WHERE FIND_IN_SET(code,#{specialties})
    </select>
</mapper>